<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ปรับปรุงหมายเลข S/N</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <p>รายการสินค้า : </p>
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>ลำดับ</th>
                                <th>หมายเลขเครื่อง</th>
                                <th>หมายเลขตัวถัง</th>
                                <th style="width: 100px;" class="text-center">
                                    <button type="button" class="btn btn-warning" (click)="showColor()">สี</button>
                                </th>
                                <th>เลขทะเบียน</th>
                                <th>เลขกุญแจ</th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ selectIndex === -1 ? snList.length + 1 : selectIndex+1 }}</th>
                                <td [class.has-danger]="form.controls['engineNumber'].invalid && (form.get('engineNumber').dirty || form.get('engineNumber').touched)">
                                    <input class="form-control form-control-sm" type="text" formControlName="engineNumber">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" formControlName="bodyNumber">
                                </td>
                                <td>{{ form.get('color').value?.name }}</td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" formControlName="regNumber">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" formControlName="keyNumber">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <button type="button" class="btn btn-success" (click)="add()" [disabled]="form.invalid">
                                        {{ selectIndex === -1 ? 'เพิ่ม' : 'แก้ไข' }}
                                    </button>
                                    <button type="button" class="btn btn-danger" [disabled]="!snList.length" (click)="onDeleteAll()">ลบทั้งหมด</button>
                                </td>
                            </tr>
                            <tr *ngFor="let sn of snList; let i=index;" (dblclick)="onSelect(sn, i)">
                                <th>{{ i+1 }}</th>
                                <td>{{ sn.engineNumber }}</td>
                                <td>{{ sn.bodyNumber }}</td>
                                <td>{{ sn.color?.name }}</td>
                                <td>{{ sn.regNumber ? sn.regNumber : 'รถใหม่' }}</td>
                                <td>{{ sn.keyNumber }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(i)">ลบ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" disabled>ยกเลิก</button>
                <button type="button" class="btn btn-primary" [disabled]="!snList.length" (click)="save()">ตกลง</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Color -->
<ws-modal-color (selected)="setColor($event)"></ws-modal-color>