<div class="container">

    <alert *ngIf="alert.open" [type]="alert.type" dismissible="true" (onClose)="alert.open=false">
        {{ alert.msg }}
    </alert>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">บันทึก</button>
            <button type="button" class="btn btn-secondary">ยกเลิก</button>
        </div>

        <div class="row" formGroupName="toBranch">
            <div class="col-6">
                <div class="form-group" [class.has-danger]="form.controls['toBranch'].get('code').invalid 
                && (form.controls['toBranch'].get('code').dirty || form.controls['toBranch'].get('code').touched)">
                    <label class="form-control-label" for="code">โอนให้(รหัสสาขา)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="code" formControlName="code">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-success" (click)="showBranchModal()">ค้นหาสาขา</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>

            <div class="col-4">
                <div class="form-group">
                    <label for="name">ชื่อ</label>
                    <input type="text" class="form-control" id="name" formControlName="name" readonly>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="address">ที่อยู่</label>
                    <input type="text" class="form-control" id="address" formControlName="address" readonly>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="tel">เบอร์โทร</label>
                    <input type="text" class="form-control" id="tel" formControlName="tel" readonly>
                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-success" (click)="showProductModal()">เพิ่มข้อมูล</button>

    <table class="table table-sm">
        <thead>
            <tr>
                <th style="width: 50px;">ลำดับ</th>
                <th>รหัส</th>
                <th>รายการ</th>
                <th style="width: 50px;">หน่วย</th>
                <th style="width: 100px;">จำนวน</th>
                <th style="width: 100px;">ราคา/น่วย</th>
                <th style="width: 100px;">จำนวนเงิน</th>
                <th style="width: 50px;">S/N</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bikeModel of transfer.bikeModels; let i = index;">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ bikeModel.product.code }}</td>
                <td>{{ bikeModel.product.name }} {{ bikeModel.product.name }}</td>
                <td>{{ bikeModel.product.unit }}</td>
                <td>{{ bikeModel.snList?.length }}</td>
                <td>{{ bikeModel.price }}</td>
                <td>{{ bikeModel.snList?.length * bikeModel.price }}</td>
                <td>
                    <button class="btn btn-sm">S/N</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal: Branch -->
<ws-modal-branch (selected)="setBranch($event)"></ws-modal-branch>
<!-- Modal: Product -->
<ws-modal-product (added)="setBikeModel($event)"></ws-modal-product>