<div bsModal #searchProductModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">ค้นหารายการสินค้า</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-5">
                        <div class="card">
                            <div class="card-header">
                                กลุ่มประเภทสินค้า
                            </div>
                            <div class="card-block">
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;">ลำดับ</th>
                                            <th>รายการ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of productGroups; let i = index;" (click)="selectGroup(item.code)">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{ item.code }} {{ item.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="card">
                            <div class="card-header">
                                รายการสินค้า
                            </div>
                            <div class="card-block">
                                <table class="table table-sm table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px;">ลำดับ</th>
                                            <th>รายการ</th>
                                            <th style="width: 50px;">หน่วย</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of products; let i = index;">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{ item.code }} {{ item.name }}</td>
                                            <td>{{ item.unit }}</td>
                                            <td>
                                              <button class="btn btn-primary btn-sm" (click)="selectProduct(item)">เลือก</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>