<form [formGroup]="form" (ngSubmit)="save()">
    <div bsModal #productModal="bs-modal" [config]="{backdrop:'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">รายการสินค้า</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>รหัสสินค้า</th>
                                <th>รายการ</th>
                                <th>หน่วย</th>
                                <th style="width: 100px;">จำนวน</th>
                                <th style="width: 100px;">ราคา</th>
                                <th>รวมเงิน</th>
                                <th style="width: 50px;">S/N</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{ form.get('product').value?.code }}
                                    <button class="btn btn-success btn-sm" type="button" (click)="showProductSearchModal()">ค้นหา</button>
                                </td>
                                <td>{{ form.get('product').value?.group.name }} {{ form.get('product').value?.name }}</td>
                                <td>{{ form.get('product').value?.unit }}</td>
                                <td>{{ form.get('snList').value?.length ? form.get('snList').value.length : '' }}</td>
                                <td [class.has-danger]="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)">
                                    <input type="text" class="form-control form-control-sm" formControlName="price">
                                </td>
                                <td>
                                    {{ total ? (total | number:'3.2') : '' }}
                                </td>
                                <td>
                                    <button class="btn btn-sm" type="button" (click)="showSNModal()">S/N</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Modal: Product Search -->
<ws-modal-product-search (selected)="setProduct($event)"></ws-modal-product-search>
<!-- Modal: SN -->
<ws-modal-sn (added)="setSNList($event)"></ws-modal-sn>